*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange-bg: #EC6C5B;
    --green-bg: #4CC083;
    --light-bg: #E2F3F0;
    --grey-color: #6f757e;
    --yellow-color: #f8bd63;
    --grey-button-bg: #e1e5ec;
    --green-button-bg: #e4f2f0;
    --red-button-bg: #ffe9e7;
    --yellow-button-bg: #ffedd3;
}
.orange{
    color: #EC6C5B;
}
.bg_orange{
    background-color: #EC6C5B;
}
.green{
    color: #4CC083;
}
.light{
    color: #E2F3F0;
}
.upper-header{
    background-color: #EC6C5B;
}
.banner{
    background-image: url(../img/billboard-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
h1{
    font-size: 4rem;
}
form {
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}
.lens{
    background-color: #4CC083;
    width: 60px;
    height: 40px;
    border: none;
}
.numbers{
    color: #EC6C5B;
}
.floating{
    top: -50%;
}
h2{
    font-size: 3rem;
}
.more{
    background-color: #4CC083;
    width: 220px;
    height: 60px;
    font-weight: bold;
}
.grey_button_bg{
    background-color: #e1e5ec;
}
.green_button_bg{
    background-color: #e4f2f0;
}
.red_button_bg{
    background-color: #ffe9e7;
}
.yellow_button_bg{
    background-color: #ffedd3;
}
.author{
    color: #6f757e;
    font-weight: bold;
    margin-top: 1rem;
}
.course{
    height: 410px;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
}

.swiper-pagination-bullet-active{
    background-color: #2E45CC;
}